body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.start{
  background-color: green;
  color: #000;
}

.reset{
  background-color: red;
  color: #000;
}
